
/* code based on https://codepen.io/jamesbarnett/pen/vlpkh */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: clamp(2em, 10vw, 3.25em);
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

html{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin-top: clamp(80px,18vw,100px);
}




nav .brand-logo{
    font-size: clamp(25px, 4vw, 40px) !important;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;

}

.flashes h4{
    line-height: 4;
    margin: 0;
    display: block;
}

.flashes{
    background-color: rgba(0,0,0,0.87);
    color:#fe0000;
    margin: 0;
    display: block;
}

.accordion-flex{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    justify-content: space-between;
   
}

.review-flex{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}



.rating-number{
    text-align: center
}

.reviews-link{
    margin-right: 1rem;
    margin-right: 1rem;
    justify-self: center;
    align-self: center;
    background-color: white;
    color: #212121;
    padding: 0 3.5px;
    border-radius: 5px;
}

.song-summary{
    position: relative;
 
    display:flex;
    flex-direction: column;
  justify-content: center;
}

.song-title-and-year{
    margin-left: 2rem;
}

.collapsible{
    width: 80vw;
    max-width: 650px;
    margin: auto;
}

.drop-down-arrow-icon{
    position: absolute !important;
}

.warning{
    color: tomato;
    display: none;
    padding: 0 !important;
}

.star {
    margin-right: 0 !important;
    
}

.star-and-rating{
color: #fff;
}

.write-review{
    width: clamp(200px, 80vw, 800px);
    margin: 20px auto;
}

.fieldset-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.review{
    width: fit-content;
    margin: 20px;
}

.reviews-wrapper{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.song-title{
    font-size: clamp(15px, 5vw, 30px);
    color: black !important; 
}

.u2-image{
    max-height: 80vh;
}

.u2-image-wrapper{
    background-color: rgba(0,0,0,0.87);
}

.about{
    background-color: rgba(0,0,0,0.87);
    color: white;
    padding: 20px;
    font-size: 20px;
}

.color-red{
    color: #fe0000;
    margin: auto;
    padding:0;
    font-size: 30px;
    font-weight: bolder;
}

img{
    display: block;
    margin:0;
    padding: 0;
        margin: auto;
}




@media screen and (min-width: 605px) {
  .accordion-flex {
    flex-direction: row
  }

  .review-flex{
      margin-top: 0px;
  }

  .song-summary{
      margin: 0
  }
}