{% extends "base.html" %}
{% block content %}
<div class="u2-image-wrapper center-align">
    <img src="https://www.gannett-cdn.com/-mm-/78e8f223406a38b38ba6f4c82447175bbdf28cf2/c=0-64-3229-2492/local/-/media/2017/08/25/Rochester/Rochester/636392904249582750-AP-17181779224981.jpg?width=2560"
        alt="U2 in concert" class="u2-image ">
</div>
<div class="about">
    <h2 class="color-red center-align">About This Website</h2>
    <br />
    <p>This site is for U2 fans to determine their favourite U2 song. The "Best Songs" list is pre-populated with
        some
        of the songs from U2's best of albums. </p>
    <br />
    <p>Once each of these songs receive 10 reviews, they will be demoted to the "Contenders" list if their average
        review
        rating is below 4 stars. They will remain on the "Best Songs" list if their average rating is 4 stars or
        more.
        They
        will be deleted entirely from the website if their average rating is below 2 stars.
    </p>
    <br />
    <p>Any registered user can add a song to the site. It will initally be placed on the "Contenders" list. Once it
        receives 10 reviews, it will be promoted to the "Best Songs" list if its average review rating is above 4
        stars
        or it will be deleted entirely from the website if its average rating is below 2 stars. It will remain on
        the
        "Contenders" list if its average review rating is between 2 and 3</p>
    <br />
</div>
{% endblock %}